test:
  image: yourlabs/ansible
  script:
  - ANSIBLE_HOST_KEY_CHECKING=False
    bigsudo .  root@target ansible_ssh_pass=root -v | tee out
  - grep 'unreachable=0.*failed=0' out
  services:
  - name: docker.io/yourlabs/sshd:ubuntu2004
    alias: target
